---
- name: Create VLANs
  cisco.ios.ios_vlans:
    config:
      - vlan_id: "{{ item.id }}"
        name: "{{ item.name }}"
        state: active
    state: merged
  loop: "{{ vlans | default([]) }}"
  loop_control:
    label: "VLAN {{ item.id }}"
  when: vlans is defined

- name: Configure interface description and admin state
  cisco.ios.ios_interfaces:
    config:
      - name: "{{ item.name }}"
        description: "{{ item.description | default(omit) }}"
        enabled: true 
    state: merged
  loop: "{{ interfaces | default([]) }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.mode is defined


- name: Configure access interfaces
  cisco.ios.ios_l2_interfaces:
    config:
      - name: "{{ item.name }}"
        mode: access
        access:
          vlan: "{{ item.access_vlan | int }}"
    state: merged
  loop: "{{ interfaces | default([]) }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.mode is defined
    - item.mode == 'access'

- name: Set trunk encapsulation dot1q (if required)
  cisco.ios.ios_config:
    parents: "interface {{ item.name }}"
    lines:
      - switchport trunk encapsulation dot1q
  loop: "{{ interfaces | default([]) }}"
  when:
    - item.mode is defined
    - item.mode == 'trunk'
    
- name: Configure trunk interfaces
  cisco.ios.ios_l2_interfaces:
    config:
      - name: "{{ item.name }}"
        mode: trunk
        trunk:
          allowed_vlans: "{{ item.trunk_allowed_vlans }}"
    state: merged
  loop: "{{ interfaces | default([]) }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.mode is defined
    - item.mode == 'trunk'