---
- name: Configure NAT ACLs
  cisco.ios.ios_acls:
    config: "{{ nat_acls }}"
    state: merged
  when: role_nat | default(false)

- name: Configure NAT inside interface
  cisco.ios.ios_config:
    lines:
      - ip nat inside
    parents: "interface {{ nat_inside }}"
  when: role_nat | default(false)

- name: Configure NAT outside interfaces
  cisco.ios.ios_config:
    lines:
      - ip nat outside
    parents: "interface {{ item }}"
  loop: "{{ nat_outside }}"
  when: role_nat | default(false)

- name: Configure NAT overload (PAT) rules
  cisco.ios.ios_config:
    lines:
      - ip nat inside source list NAT_GENT interface GigabitEthernet0/0 overload
      - ip nat inside source list NAT_ANT interface GigabitEthernet0/1 overload
      - ip nat inside source list NAT_BRU interface GigabitEthernet0/2 overload
  when: role_nat | default(false)

- name: Save configuration
  cisco.ios.ios_config:
    save_when: modified
  when: role_nat | default(false)