---
- name: Set host- and domain name
  cisco.ios.ios_system:
    hostname: "{{ inventory_hostname }}"
    domain_name: "{{ domain_name }}"

- name: default config
  cisco.ios.ios_config:
    lines:
      - service password-encryption
      - service timestamps log datetime msec
      - username ansible privilege 15 secret {{ vault_login_password }}
      - enable secret {{ vault_enable_password }}
      - ip ssh version 2
      - logging host {{ logging_host }}
      - logging trap informational
      - ntp server {{ ntp_server }} prefer
  register: config_result

- name: Configure banner
  cisco.ios.ios_banner:
    banner: motd
    text: "{{ banner_motd }}"
    state: present

- name: Configure all VTY lines for SSH
  cisco.ios.ios_config:
    parents: "{{ item.parent }}"
    lines:
      - transport input ssh
      - login local
  loop:
    - { parent: "line vty 0 4" }
    - { parent: "line vty 5 15" }
