---
- name: Configure interface settings
  cisco.ios.ios_interfaces:
    config:
      - name: "{{ item.name }}"
        description: "{{ item.description }}"
        enabled: true      
    state: merged
  loop: "{{ interfaces }}"
  loop_control:
    label: "{{ item.name }}"
  when: interfaces is defined

- name: Configure IP addresses on interfaces
  cisco.ios.ios_l3_interfaces:
    config:
      - name: "{{ item.name }}"
        ipv4:
          - address: "{{ item.ipv4[0].address }}"
    state: merged
  loop: "{{ interfaces }}"
  loop_control:
    label: "{{ item.name }}"
  when: interfaces is defined