---
- name: Configure all interface settings in one batch
  cisco.ios.ios_config:
    lines:
      - description {{ item.description }}
      - ip address {{ item.ipv4[0].address | ansible.utils.ipaddr('address') }} {{ item.ipv4[0].address | ansible.utils.ipaddr('netmask') }}
      - no shutdown
    parents: interface {{ item.name }}
    match: line
    replace: line
  loop: "{{ interfaces }}"
  loop_control:
    label: "{{ item.name }}"
  when: interfaces is defined