---
- name: Configure interfaces
  cisco.ios.ios_config:
    lines:
      - "description {{ item.description }}"
      - "ip address {{ item.ip }} {{ item.mask }}"
      - "no shutdown"
    parents: "interface {{ item.name }}"
  loop: "{{ interfaces }}"

- name: Save configuration
  cisco.ios.ios_config:
    save_when: always