---
- name: Configureer companyrouter
  hosts: CompanyRouter
  gather_facts: yes
  roles:
    - base
    - { role: interfaces, when: interfaces is defined }
    - { role: routes, when: static_routes is defined }
    - { role: ospf, when: "'routers' in group_names" }
    - { role: nat, when: role_nat | default(false) }

- name: Configureer site routers
  serial: 3
  hosts: GentRouter, AntwerpenRouter, BrusselRouter
  gather_facts: yes
  strategy: free
  roles:
    - base
    - { role: interfaces, when: interfaces is defined }
    - { role: routes, when: static_routes is defined }
    - { role: ospf, when: "'routers' in group_names" }
    - { role: nat, when: role_nat | default(false) }

- name: Configureer switches
  serial: 12
  hosts: switches
  gather_facts: yes
  strategy: free
  roles:
    - base
    - { role: routes, when: static_routes is defined }
    - { role: switchports, when: "'switches' in group_names" }

  post_tasks:
    - name: Save configuration once at the end
      cisco.ios.ios_config:
        save_when: always
      changed_when: false