---
- name: Configureer companyrouter
  hosts: CompanyRouter
  gather_facts: no
  roles:
    - base
    - { role: interfaces, when: interfaces is defined }
    - { role: routes, when: static_routes is defined }
    - { role: ospf, when: "'routers' in group_names" }
    - { role: nat, when: role_nat | default(false) }

- name: Configureer site routers
  serial: 3
  hosts: GentRouter, AntwerpenRouter, BrusselRouter
  gather_facts: no
  strategy: free
  roles:
    - base
    - { role: interfaces, when: interfaces is defined }
    - { role: routes, when: static_routes is defined }
    - { role: ospf, when: "'routers' in group_names" }
    - { role: nat, when: role_nat | default(false) }

- name: Configureer switches
  serial: 12
  hosts: switches
  gather_facts: no
  strategy: free
  roles:
    - base
    - { role: routes, when: static_routes is defined }
    - { role: switchports, when: "'switches' in group_names" }
    - mgmt


- name: Finalize (save/verify)
  hosts: all
  tasks:
    - name: Save running-config
      cisco.ios.ios_command:
        commands: write memory