---
- name: Configureer companyrouter
  hosts: CompanyRouter
  gather_facts: no
  roles:
    - base
    - { role: interfaces, when: interfaces is defined }
    - { role: ospf, when: "'routers' in group_names" }
    - { role: nat, when: role_nat | default(false) }
    - { role: vlans, when: "'switches' in group_names" }
    - { role: switchports, when: "'switches' in group_names" }

- name: Configureer site routers
  serial: 5
  hosts: GentRouter, AntwerpenRouter, BrusselRouter
  gather_facts: no
  strategy: free
  roles:
    - base
    - { role: interfaces, when: interfaces is defined }
    - { role: ospf, when: "'routers' in group_names" }
    - { role: nat, when: role_nat | default(false) }
    - { role: vlans, when: "'switches' in group_names" }
    - { role: switchports, when: "'switches' in group_names" }

- name: Configureer switches
  serial: 20
  hosts: switches
  gather_facts: no
  strategy: free
  roles:
    - base
    - { role: interfaces, when: interfaces is defined }
    - { role: ospf, when: "'routers' in group_names" }
    - { role: nat, when: role_nat | default(false) }
    - { role: vlans, when: "'switches' in group_names" }
    - { role: switchports, when: "'switches' in group_names" }

  post_tasks:
    - name: Save configuration once at the end
      cisco.ios.ios_config:
        save_when: always
      changed_when: false