---
- name: Configure CompanyRouter
  hosts: CompanyRouter
  gather_facts: no
  roles:
    - base
    - interfaces
    - mgmt
    - ospf
    - nat

- name: Configure site routers
  hosts: GentRouter, AntwerpenRouter, BrusselRouter
  gather_facts: no
  roles:
    - base
    - interfaces
    - mgmt
    - ospf

- name: Configure switches
  hosts: switches
  gather_facts: no
  roles:
    - base
    - vlans
    - switchports

  tasks:
    - name: Forceer opslaan van running-config
      cisco.ios.ios_command:
        commands:
          - write memory