---
- name: Configure OSPF
  cisco.ios.ios_ospfv2:
    config:
      processes:
        - process_id: "{{ ospf_process }}"
          router_id: "{{ router_id | default(omit) }}"
          network: "{{ ospf_networks }}"
    state: merged